<h2>Create a new Entry: </h2>

<form class="" action="/reservation_entries" method="post">
  <label for="restaurant_name">Restaurant Name:</label>
  <input type="text" name="restaurant_name" value=""></br></br>
  <label for="numofTable">Num of Reserved Table:</label>
  <input type="text" name="numOfTable" value=""></br></br>

  <input type="submit" name="" value="Create Entry">
</form>

