
<form class="" action="/login" method="post"> </br>
<p>
  <label for="email">Email: </label> </br>
  <input type="text" name="email" value=""> 
</p>

<p>
  <label for="password">Password: </label></br>
  <input type="text" name="password" value="">
</p>

  <input type="submit" value="Login">
 
</form>
 </br></br>

<a href="/">Home</a>

