
<form class="" action="/users" method="post"> </br>

<p>
  <label for="name_user">User Name: </label></br>
  <input type="text" name="user_name" value="">
</p>

<p>
  <label for="email">Email: </label></br>
  <input type="text" name="email" value="">
</p>
 
<p>
  <label for="password">Password: </label></br>
  <input type="text" name="password" value="">
</p>
 
  <input type="submit" name="" value="Create User">
</form>

</br></br>
<a href="/">Home</a>